	body {
	background-color: gray;
	
	}
	
	button {
	
	background-color: pink;
	height: 50px;
	width: 100px;
	text-align: center;
	}
	
	#imagemTesteArt{
	height: 300px;
	width: 200 px;
	}